{% extends "base.html" %}

{% block title %}Create Project{% endblock %}

{% block content %}
<div>
  <h1>Create Project</h1>
  <form method="post" enctype="multipart/form-data" onsubmit="return checkGEXAndSubmit()">
    {{ form.csrf_token }}

    <div class="form-group">
      {{ form.project_name.label }}
      {{ form.project_name(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.author_name.label }}
      {{ form.author_name(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.zip_folder.label }}
      {{ form.zip_folder(class="form-control-file") }}
    </div>

    <div class="form-group">
      {{ form.data_uploaded.label }}
      <div class="radio-group">
        {% for subfield in form.data_uploaded %}
          <div class="radio-item">
            {{ subfield }} {{ subfield.label }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="form-group">
      {{ form.species.label }}
      <div class="radio-group">
        {% for subfield in form.species %}
          <div class="radio-item">
            {{ subfield }} {{ subfield.label }}
          </div>
        {% endfor %}
      </div>
    </div>

    <button type="submit" class="button">Preprocess Data</button>
  </form>
  <div id="loader" class="loader" style="display: none;"></div>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</div>
{% endblock %}